In [12]:
import pickle
import random
import pandas as pd

In [13]:
year = 2019
with open('data/reddit_btc_parsed_{}'.format(year), "rb") as f:
    posts_dict, threads_dict = pickle.load(f)

In [17]:
year_list = [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]
df_posts = pd.DataFrame()
df_threads = pd.DataFrame()
for year in year_list:
    with open('data/reddit_btc_parsed_{}'.format(year), "rb") as f:
        posts_dict, threads_dict = pickle.load(f)
        df_posts = pd.concat([df_postas, pd.DataFrame(posts_dict.values())])
        df_threads = pd.concat([df_threads, pd.DataFrame(threads_dict.items())])
    print('{} - thread: {}; post: {}'.format(year, len(threads_dict), len(posts_dict)))

2013 - thread: 9; post: 92
2014 - thread: 59401; post: 310259
2015 - thread: 61301; post: 291893
2016 - thread: 60550; post: 242331
2017 - thread: 172973; post: 721654
2018 - thread: 103239; post: 356126
2019 - thread: 61356; post: 233459
2020 - thread: 68847; post: 340064
2021 - thread: 150761; post: 1289527

In [15]:
df_threads.dropna()
df_threads

             0                                                  1
0       7hyk34                                               None
1       7hyjzo                                               None
2       7hyjrj                                               None
3       7hyja5                                               None
4       7hyj7o                                               None
...        ...                                                ...
150756  rg9ueb                                               None
150757  rg9thv  [{'msg_id': 'rg9thv', 'poster': 'beetlejuice-1...
150758  rg9qav                                               None
150759  rg9nwq  [{'msg_id': 'rg9nwq', 'poster': 'very_452001',...
150760  rg9dzd                                               None

[557176 rows x 2 columns]

In [16]:
df_posts.dropna(subset=['msg'])

,msg_id,poster,thread_id,msg,timestamp,quote
0,7hyisf,justinafincher,7hyisf,"I dabbled with Bitcoin a few years ago, then n...",1.512572e+09,NaN
1,drluxf2,luke-jr,7hyisf,"More likely your PC has defective hardware, bu...",1.513921e+09,None
2,dqupxka,cgminer,7hyisf,You don't need to sync the blockchain to get i...,1.512572e+09,None
3,drz2eae,justinafincher,7hyisf,"That was my first thought, except I have 3 com...",1.514678e+09,drluxf2
4,dqvrf13,justinafincher,7hyisf,I'll give it a try. So dumpprivkey gives me a ...,1.512613e+09,dqupxka
...,...,...,...,...,...,...
1289522,hojj875,Bloodsport121,rg9nwq,no lol Google and IBM cannot get 5% of the has...,1.639507e+09,hojc22v
1289523,hoj0sn7,SmoothGoing,rg9nwq,This is accuracy. You were 100% wrong.,1.639500e+09,hoj0o34
1289524,hojdt1a,explorer-9,rg9nwq,You're not the first person to wonder this. Th...,1.639505e+09,hojcahu
1289525,hoj13jb,Bloodsport121,rg9nwq,"not true, most of what I said was accurate. \n...",1.639500e+09,hoj0sn7
1289526,hoj1uqt,SmoothGoing,rg9nwq,You are 100% wrong about that one part. The on...,1.639500e+09,hoj13jb

In [35]:
# tid = random.choice(list(threads_dict.keys()))
pd.DataFrame(threads_dict.items())

None

             0                                                  1
0       lnhuao                                               None
1       lnhtqf                                               None
2       lnhr2g  [{'msg_id': 'lnhr2g', 'poster': 'Parracombeboy...
3       lnhqok                                               None
4       lnhpje                                               None
...        ...                                                ...
150756  rg9ueb                                               None
150757  rg9thv  [{'msg_id': 'rg9thv', 'poster': 'beetlejuice-1...
150758  rg9qav                                               None
150759  rg9nwq  [{'msg_id': 'rg9nwq', 'poster': 'very_452001',...
150760  rg9dzd                                               None

[150761 rows x 2 columns]

In [54]:
# print(threads_dict['rg9thv'])
print(posts_dict['hoj9mdv'])

{'msg_id': 'hoj9mdv', 'poster': 'NietINTP', 'thread_id': 'rg9thv', 'msg': "Or you're like me and buy every peak just to see a huge drop, yelling about how you wish you had more fiat to buy the dip.\n\nSo... Nevermind I guess you were right. I'm dead inside.", 'quote': 'hoj43ix', 'timestamp': 1639503193.0}

In [26]:
df_user = pd.DataFrame()
for year in year_list:
    with open('data/redditors_dict_{}'.format(year), "rb") as f:
            redditors_dict = pickle.load(f)
            df_user = pd.concat([df_user, pd.DataFrame(redditors_dict.values())])
    print('{}:{}'.format(year, len(redditors_dict)))

2013:41
2014:299
2015:298
2016:298
2017:68561
2018:43310
2019:25632
2020:40339
2021:133591

In [69]:
df_user

,name,comment_karma,link_karma,created_utc,is_employee,is_mod,is_gold,is_suspended,trophies
0,justinafincher,88.0,216.0,1.399571e+09,False,False,False,False,"[Seven-Year Club, Verified Email]"
1,luke-jr,37370.0,5691.0,1.314055e+09,False,True,False,False,"[Ten-Year Club, Verified Email]"
2,cgminer,925.0,138.0,1.387051e+09,False,False,False,False,"[Eight-Year Club, Verified Email]"
3,Ooyyggeenn,19085.0,8389.0,1.477684e+09,False,False,False,False,"[Five-Year Club, Second, Wearing is Caring, RP..."
4,magerpower3,18573.0,307.0,1.462318e+09,False,False,False,False,[Five-Year Club]
...,...,...,...,...,...,...,...,...,...
133586,Super-Comparison1210,85.0,37.0,1.622436e+09,False,False,False,False,[]
133587,WornExtinction,7.0,1.0,1.603499e+09,False,False,True,False,"[Gilding I, Reddit Premium, One-Year Club, Ver..."
133588,Falkvinge,43709.0,21134.0,1.206209e+09,False,True,False,False,"[13-Year Club, Wearing is Caring, Gilding VII,..."
133589,Bubbly-Neat-6686,1.0,1.0,1.639539e+09,False,False,False,False,[]
133590,DanWallace,225253.0,3191.0,1.197846e+09,False,True,False,False,"[14-Year Club, Second, Wearing is Caring, Not ..."

In [74]:
df_user.drop_duplicates(subset=['name'])

,name,comment_karma,link_karma,created_utc,is_employee,is_mod,is_gold,is_suspended,trophies
0,justinafincher,88.0,216.0,1.399571e+09,False,False,False,False,"[Seven-Year Club, Verified Email]"
1,luke-jr,37370.0,5691.0,1.314055e+09,False,True,False,False,"[Ten-Year Club, Verified Email]"
2,cgminer,925.0,138.0,1.387051e+09,False,False,False,False,"[Eight-Year Club, Verified Email]"
3,Ooyyggeenn,19085.0,8389.0,1.477684e+09,False,False,False,False,"[Five-Year Club, Second, Wearing is Caring, RP..."
4,magerpower3,18573.0,307.0,1.462318e+09,False,False,False,False,[Five-Year Club]
...,...,...,...,...,...,...,...,...,...
133585,Blissof89,3950.0,121.0,1.479038e+09,False,False,False,False,"[Five-Year Club, Verified Email]"
133586,Super-Comparison1210,85.0,37.0,1.622436e+09,False,False,False,False,[]
133587,WornExtinction,7.0,1.0,1.603499e+09,False,False,True,False,"[Gilding I, Reddit Premium, One-Year Club, Ver..."
133589,Bubbly-Neat-6686,1.0,1.0,1.639539e+09,False,False,False,False,[]
133590,DanWallace,225253.0,3191.0,1.197846e+09,False,True,False,False,"[14-Year Club, Second, Wearing is Caring, Not ..."

In [19]:
year=2018
with open('/home/jian/reddit_crawler/data/reddit_btc_parsed_{}'.format(year), "rb") as f:
    posts_dict, threads_dict = pickle.load(f)

In [20]:
len(threads_dict)

70400